<?php
/*
foreach ($_users as $user){
    print "<pre>";
    var_dump($user);
    print "</pre>";
}*/
if ($_status) {
    print $_message;
} else {

    ?>


    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="alert alert-warning" style="display:none;" id="status_profile_form">
                        <ul class="fa-ul">
                            <li id="message_profile_form">

                            </li>
                        </ul>
                    </div>
                    <font color="red"><?php print $_message; ?></font>
                </div>
            </div>
            <div class="row" id="profile-form">
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>Профіль акаунта</h2>
                        <form action="/profile/edit" method="post" onsubmit="editProfile(this); return false;">
						
						<input name="fsurname" type="text" placeholder="Прізвище" value="<?php echo Auth::getIdentity()->surname?>" />
						<input name="fname" type="text" placeholder="Ім'я" value="<?php echo Auth::getIdentity()->name?>" />
						<input name="fpatronymic" type="text" placeholder="По батькові" value="<?php echo Auth::getIdentity()->patronymic?>" />
						    <input name="fpassword" type="password" placeholder="новий пароль" required/>
                            <input name="spassword" type="password" placeholder="повторіть новий пароль" required/>
                            <input name="opassword" type="password" placeholder="старий пароль" required/>

                            <button type="submit" class="btn btn-default">Зберегти</button>
                        </form>
                        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
                        <script>
                            function editProfile(form) {
                                var data = $(form).serialize();
                                $.post('/profile/edit', data, function (xml) {
									//console.log($('success',d).text());
                                    if ($(xml).find("success").text()) {
                                        $('#status_profile_form').attr('class', 'alert alert-success');
                                        $('#profile-form').remove();
                                    } else {
                                        $('#status_profile_form').attr('class', 'alert alert-warning');
                                    }
                                    $('#message_profile_form').prepend($(xml).find("message").text());
                                    $('#status_profile_form').show()

                                    setTimeout(function(){$('#status_profile_form').hide()},3000);
                                },"xml");
                                return false;
                            }
                        </script>
                    </div><!--/login form-->
                </div>

            </div>
        </div>
    </section><!--/form-->


    <?php

}
?>