<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Rent</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>




</head><!--/head-->

<body>
<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +38099123456</a></li>
								<li><a href="mailto:admin@e-rent.com"><i class="fa fa-envelope"></i> admin@e-rent.com</a></li>
								<?php if(Auth::hasIdentity()):?> <li><a><i class="fa fa-user"></i> Ви ввійшли як: <?php echo Auth::getIdentity()->surname. " " . Auth::getIdentity()->name?></a></li><?php endif;?>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						
						<div class="social-icons pull-right">
					
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/?lang=uk"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="/rss.xml"><i class="fa fa-rss-square"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="/images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								
														
								<?php if(!Auth::hasIdentity()):?>
								<li><a href="/signin"><i class="fa fa-lock"></i> Вхід</a></li>
								<li><a href="/signup"><i class="fa fa-lock"></i> Реєстрація</a></li>
								<?php else: ?>
								<li><a href="/profile"><i class="fa fa-user"></i> Акаунт</a></li>
								<li><a href="/goods"><i class="fa fa-shopping-basket"></i>Мої товари</a></li>
								<li><a href="/messages"><i class="fa fa-comments"></i> Мої повідомлення</a></li>
								<li><a href="/logout"><i class="fa fa-lock"></i> Вихід</a></li>
								<?php endif;?>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Головна</a></li>
								<li><a href="/catalog">Каталог</a></li>
								<!--li><a href="/news">Новини</a></li-->
                     			<li><a href="/feedback">Зв'язок</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="search_box">
							<form method="POST" action="/catalog/get/search/">
							<input name="q" type="text" class="search-query" id="search_header" placeholder="Пошук" required/>
							<button type="submit" id="search-main" class="btn btn-add"></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->