﻿<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Категорії</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->


							
							<?php foreach($categories as $cat){?>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/catalog/get/category/<?php echo $cat->category_id;?>"><?php echo $cat->name;?></a></h4>
								</div>
							</div>
							<?php }?>

						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Бренди</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<?php
									foreach ($brands as $b){
									?>
									<li><a href="#"> <span class="pull-right">(<?php echo $b->cnt;?>)</span><?php echo $b->brand;?></a></li>
									<?php }?>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<!--h2>Ціна</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="<?php echo $price->max ?>" data-slider-step="5" data-slider-value="[<?php echo $price->min ?>,<?php echo $price->max ?>]" id="sl2" ><br />
								 <b class="pull-left"><?php echo $price->min ?></b> <b class="pull-right"><?php echo $price->max ?></b>
							</div-->
						</div><!--/price-range-->
						

					
					</div>
				</div>