<section>
		<div class="container">
			<div class="row">
				<?php include_once(APPLICATION_PATH.'views/partials/left_menu.phtml');?>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Каталог речей</h2>
<?php

if(!empty($goods))
foreach ($goods as $g) {

  /*  print '-'.$g->good_id;
    print '-'.$g->good_name;
    print '-'.$g->good_description;
    print '-'.$g->price;
    print '-'.$g->user_id;
    print '-'.$g->date;
    print '-'.$g->brand;
    print '-'.$g->category_name;
    print '-'.$g->category_id;
    print '-'.$g->photoalbum_id;
    print '-'.$g->path;
    print "<br>";*/
//$g->path = $g->path == null ? '/images/default.png' : $g->path;
	?>
	<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="<?php echo $g->path?>" alt="" />
										<h2><?php echo $g->price;?></h2>
										<p><?php echo $g->good_name;?></p>
										<a href="/catalog/good/id/<?php echo $g->good_id ?>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Детальніше</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2><?php echo $g->good_name;?></h2>
											<p><?php echo $g->good_description;?></p>
											<a href="/catalog/good/id/<?php echo $g->good_id ?>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Детальніше</a>
										</div>
									</div>
									<?php if($g->new):?>
									<img src="/images/home/new.png" class="new" alt="" />
									<?php endif;?>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<!--li><a href=""><i class="fa fa-plus-square"></i>Власник: <?php $g->user_id;?></a></li-->
									</ul>
								</div>
							</div>
						</div>
	
	
	<?php

}
?>
</div><!--features_items-->
					
					
					<?php if(!empty($top_goods)):?>
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Рекомендаії</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
								<?php
								foreach ($top_goods as $gt){
								?>
								
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="<?php echo $gt->path;?>" alt="" />
													<h2><?php echo $gt->price;?></h2>
													<p><?php echo $gt->name;?></p>
													<a href="/catalog/good/id/<?php echo $gt->good_id ?>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Детальніше</a>
												</div>
												
											</div>
										</div>
									</div>
									<?php }?>
									
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					<?php endif;?>
				</div>
			</div>
		</div>
	
		<script>
		function getContent()
		{
			$.post('catalog/api/','t='+5, function(data)
			{
				//alert(data);
				$('.features_items').html(templateGoods(data[0]));
				
			});
		}
		
		
		function templateGoods(arr)
		{
			var str = '<div class="col-sm-4">'+
							'<div class="product-image-wrapper">'+
								'<div class="single-products">'+
										'<div class="productinfo text-center">'+
											'<img src="'+arr['img']+'" alt="" />'+
											'<h2>$56</h2>'+
											'<p>Easy Polo Black Edition</p>'+
											'<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Детальніше</a>'+
										'</div>'+
										'<div class="product-overlay">'+
											'<div class="overlay-content">'+
												'<h2>'+arr['price']+'</h2>'+
												'<p>Easy Polo Black Edition</p>'+
												'<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Детальніше</a>'+
											'</div>'+
										'</div>'+
								'</div>'+
								'<div class="choose">'+
									'<ul class="nav nav-pills nav-justified">'+
										'<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>'+
										'<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>'+
									'</ul>'+
								'</div>'+
							'</div>'+
						'</div>';
						return str;
		}
		</script>
	</section>