<section>
    <div class="container">
        <div class="row">
            <?php include_once(APPLICATION_PATH . 'views/partials/left_menu.phtml'); ?>

            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="<?php echo $good->logo; ?>" alt="Product preview"/>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <!--div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo1"></a>
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo2"></a>
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo2"></a>
										</div>
										<div class="item">
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo1"></a>
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo2"></a>
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo2"></a>
										</div>
										<div class="item">
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo1"></a>
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo2"></a>
										  <a href=""><img src="<?php echo $good->logo; ?>" alt="photo2"></a>
										</div>
										
									</div-->

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <h2><?php echo $good->good_name; ?></h2>
                            <p>Web ID: <?php echo $good->good_id; ?></p>
								<span>
									<span><?php echo $good->price . " " . config::get('money')->currency; ?></span>
									<button type="button" class="btn btn-default cart">
                                        <i class="fa fa-user"></i>
                                        Зв'язатися з власником
                                    </button>
									<button type="button" class="btn btn-default cart" data-toggle="modal" data-target="#myModal">
									
                                        <i class="fa fa-plus"></i>
                                        Створити замовлення
                                    </button>
								
								</span>
                            <p><b>Доступність: </b> <?php echo $is_free == true ? 'Так' : 'Ні'; ?>
                            </p>
                            <p><b>Бренд:</b> <?php echo $good->brand; ?></p>
                            <p><b>Опис:</b>
								<span class="description">
								<?php echo $good->good_description; ?>
								</span>
                            </p>

                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

				<!-- Trigger the modal with a button -->



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Створити заявку.</h4>
      </div>
      <div class="modal-body">
          <div class="alert alert-warning" style="display:none;" id="status_profile_form">
              <ul class="fa-ul">
                  <li id="message_profile_form">

                  </li>
              </ul>
          </div>
          <form method="POST" onsubmit="addOrder(this);return false; ">

              <input name="good_id" type="hidden" value="<?php echo $good->good_id; ?>"/>
          <br>
          Дата та час взяття: <input required name="from_date" type="date" />
          <br>
          Дата та час повернення: <input required name="to_date" type="date"/>

      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-success" >OK</button> </form><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
    <script>
        function addOrder(form) {
            var data = $(form).serialize();
            $.post('/goods/order', data, function (d) {
                if (d.success) {
                    $('#status_profile_form').attr('class', 'alert alert-success');
                    $('#profile-form').remove();
                } else {
                    $('#status_profile_form').attr('class', 'alert alert-warning');
                }
                $('#message_profile_form').html(d.message);
                $('#status_profile_form').show()

                setTimeout(function(){$('#status_profile_form').hide()},3000);
            });
            return false;
        }
        </script>
</div>
				
                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#feedback" data-toggle="tab">Відгуки</a></li>
							<li><a href="#comment-block" data-toggle="tab">Коментарі</a></li>
                            <li><a href="#another_goods" data-toggle="tab">Інші речі користувача</a></li>
                            <li><a href="#same_category_goods" data-toggle="tab">Схожі товари</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">

                        <div class="tab-pane fade" id="another_goods">
                            <?php
                            foreach ($other_goods as $item):

                                ?>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="<?php echo $item->logo; ?>" alt="Item"/>
                                                <h2><?php echo self::formatCurrency($item->price); ?></h2>
                                                <p><?php echo $item->good_description; ?></p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-user"></i>Написати власнику
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>

                        <div class="tab-pane fade" id="same_category_goods">
                            <?php
                            foreach ($similar_goods as $item):

                                ?>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="<?php echo $item->logo; ?>" alt="Item"/>
                                                <h2><?php echo self::formatCurrency($item->price); ?></h2>
                                                <p><?php echo $item->good_description; ?></p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-user"></i>Написати власнику
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>

                        <div class="tab-pane fade active in" id="feedback">

						<div id="mc-container"></div>
						
						<div id="mc-review"></div>
						</div>
<script type="text/javascript">
cackle_widget = window.cackle_widget || [];
cackle_widget.push({widget: 'Review', id: 45267});
(function() {
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
})();
</script>
</div>




                            <!--div class="media commnets">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><?php echo Auth::getIdentity()->surname;?> <?php echo Auth::getIdentity()->name;?></h4>
                                    <p>Цікавий сервіс</p>
                                </div>
                            </div>
                            <p><b>Відгук</b></p>

                            <form action="#">
										<span>
											<input type="text" placeholder="Код заявки" required/>
											<input type="email" placeholder="Електронна пошта" required/>
										</span>
                                <textarea name="" placeholder="Текст відгуку..." required></textarea>
                                <input type="radio" name="type" value="1">Позитивний
                                 <input type="radio" name="type" value="2">Простий коментар
                                <input type="radio" name="type" value="3">Претензія

                                <button type="submit" class="btn btn-default pull-right">Залишити відгук</button>
                            </form-->

                        </div>
						
						<div class="tab-pane fade in" id="comment-block">

						<div id="mc-container"></div>
						
						<div id="mc-review"></div>
<div>
<script type="text/javascript">
cackle_widget = window.cackle_widget || [];
cackle_widget.push({widget: 'Comment', id: 45266});
(function() {
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
})();
</script>
</div>


                            <!--div class="media commnets">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><?php echo Auth::getIdentity()->surname;?> <?php echo Auth::getIdentity()->name;?></h4>
                                    <p>Цікавий сервіс</p>
                                </div>
                            </div>
                            <p><b>Відгук</b></p>

                            <form action="#">
										<span>
											<input type="text" placeholder="Код заявки" required/>
											<input type="email" placeholder="Електронна пошта" required/>
										</span>
                                <textarea name="" placeholder="Текст відгуку..." required></textarea>
                                <input type="radio" name="type" value="1">Позитивний
                                 <input type="radio" name="type" value="2">Простий коментар
                                <input type="radio" name="type" value="3">Претензія

                                <button type="submit" class="btn btn-default pull-right">Залишити відгук</button>
                            </form-->

                        </div>

                    </div>
                </div><!--/category-tab-->

            </div>
        </div>
    </div>
</section>