<section>
		<div class="container">
			<div class="row">
			<div class="col-sm-4">
			</div>
				<div class="col-sm-4">
				<div class="shopper-info">
							<p>Створити заявку</p>
							<form action="" method="POST" id="make_order_form" class="order_form">
								<input type="date">
								<input type="submit" class="btn btn-primary" value="Надіслати">
							</form>
						</div>
				</div>
				<div class="col-sm-4">
			</div>
			</div>
		</div>
	</section>