<script>
function focusSearch(){
    document.getElementById("search_header").focus();
}
</script>

<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>E</span>-RENT</h1>
									<h2>Орендувати речі - це вигідно!</h2>
									<p>На нашому сайті ви легко можете розмістити власні речі, які ви готові здати в оренду. Користування нашим сервісом абсолютно безкоштовне</p>
									<a href="/signin" class="btn btn-default get">Реєстрація</a>
								</div>
								<div class="col-sm-6">
									<img src="images/home/bike_index.png" class="girl img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-RENT</h1>
									<h2>Пошук по сайту</h2>
									<p>Тепер пошук по речам став дійсно швидким. Знайдіть речі, що вас цікавлять за кілька кліків! </p>
									<button type="button" class="btn btn-default get" onClick="focusSearch()">Перейти до пошуку</button>
								</div>
								<div class="col-sm-6">
									<img src="/images/home/search_index.png" class="girl img-responsive" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-RENT</h1>
									<h2>Приєднуйтесь до нас!</h2>
									<p>Спілкуйтесь, заробляйте гроші та обмінюйтесь речами. Отримуйте задоволення від користування сервісом!</p>
									<a href="/signin" class="btn btn-default get">Реєстрація</a>
								</div>
								<div class="col-sm-6">
									<img src="/images/home/girl3.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	
