<div class="container">
<div class="row">
<div class="col-sm-offset-3 col-sm-6">
<div class="list-comments">
	<div class="media commnets ">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p>Message body</p>
                                </div>
                            </div>
							
							
							
							
							<div class="media commnets ">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p>Message body</p>
                                </div>
                            </div>
							<div class="media commnets ">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p>Message body</p>
                                </div>
                            </div>
							<div class="media commnets ">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p>Message body</p>
                                </div>
                            </div>
							<div class="media commnets ">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p>Message body</p>
                                </div>
                            </div><div class="media commnets ">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p>Message body</p>
                                </div>
                            </div><div class="media commnets ">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/images/account_def.png" alt="Avatar">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p>Message body</p>
                                </div>
                            </div>
							
                    </div>
                            <form action="#">
                                <textarea name="" rows="5" width="300px" placeholder="Текст повідомлення..." required></textarea>
                                <button type="submit" class="btn btn-default pull-right">Надіслати повідомлення</button>
                            </form>
							</div>
							
</div>
</div>
    