
<section>
		<div class="container">
			<div class="row">
				<?php include_once(APPLICATION_PATH.'views/partials/left_menu.phtml');?>
				
				<div class="col-sm-9 padding-right">
					
					<div class="tab-pane fade active in" id="feedback" >
					
					<div class="media commnets">
					
					<div class="message-panel" id="fdg">
					
					
					<script>
						for(var i = 0; i < 40; ++i){
							var html = '<div class="message-' + (i % 2 == 0 ? 'left' : 'right') + '"><a href="#"><img class="media-object" src="" alt="Image">'+
										'</a><h4 class="media-heading">Maxxx (охуенный потсан)</h4><div class="media-body"><p>Да вы охуели что ли тут в своей конторе нахуй, что за народ блять, ебный по голове. Сук, пидрсы, ебируетесь тут сами, атписываюсь</p></div></div>'
							
							$('#fdg').append(html);
						}
					</script>
					</div>
					
										
									<!--	<a class="pull-left" href="#">
											<img class="media-object" src="" alt="Image">
										</a>
										<div class="media-body">
											<h4 class="media-heading">Maxxx (охуенный потсан)</h4>
											<p>Да вы охуели что ли тут в своей конторе нахуй, что за народ блять, ебный по голове. Сук, пидрсы, ебируетесь тут сами, атписываюсь</p>
										</div>
										<a class="pull-left" href="#">
											<img class="media-object" src="" alt="Image">
										</a>
										<div class="media-body">
											<h4 class="media-heading">Maxxx (охуенный потсан)</h4>
											<p>Да вы охуели что ли тут в своей конторе нахуй, что за народ блять, ебный по голове. Сук, пидрсы, ебируетесь тут сами, атписываюсь</p>
										</div>
									</div>-->
									
									<form action="#">
										<textarea name="" placeholder="Текст повідомлення..." required></textarea>
										<button type="submit" class="btn btn-default pull-right">Надіслати повідомлення</button>
									</form>
									
									</div>
					
				</div>
			</div>
		</div>
	
		<script>
		function getContent()
		{
			$.post('catalog/api/','t='+5, function(data)
			{
				//alert(data);
				$('.features_items').html(templateGoods(data[0]));
				
			});
		}
		
		
		function templateGoods(arr)
		{
			var str = '<div class="col-sm-4">'+
							'<div class="product-image-wrapper">'+
								'<div class="single-products">'+
										'<div class="productinfo text-center">'+
											'<img src="'+arr['img']+'" alt="" />'+
											'<h2>$56</h2>'+
											'<p>Easy Polo Black Edition</p>'+
											'<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Детальніше</a>'+
										'</div>'+
										'<div class="product-overlay">'+
											'<div class="overlay-content">'+
												'<h2>'+arr['price']+'</h2>'+
												'<p>Easy Polo Black Edition</p>'+
												'<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Детальніше</a>'+
											'</div>'+
										'</div>'+
								'</div>'+
								'<div class="choose">'+
									'<ul class="nav nav-pills nav-justified">'+
										'<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>'+
										'<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>'+
									'</ul>'+
								'</div>'+
							'</div>'+
						'</div>';
						return str;
		}
		</script>
	</section>