<?php
/*
foreach ($_users as $user){
    print "<pre>";
    var_dump($user);
    print "</pre>";
}*/
if ($status) {
    print $message;
} else {

    ?>


    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="alert alert-warning" style="display:none;" id="status_order_form">
                        <ul class="fa-ul">
                            <li id="message_order_form">

                            </li>
                        </ul>
                    </div>
                    <font color="red"><?php print $message; ?></font>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="/images/auth/auth.png" width="200" height="200"/>
                </div>
      
                <div class="col-sm-4">
                   <div class="login-form"><!--login form-->
                        <h2>Зайдіть в профіль користувача</h2>
                        <form action="/signin" method="post">
                            <input name="email" type="email" placeholder="email" required/>
                            <input name="password" type="password" placeholder="пароль" required/>
                            <?php echo $captcha;?>
                            <button type="submit" class="btn btn-default">Вхід</button>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </div>
    </section><!--/form-->

    <script src="/js/jquery-1.10.2.js"></script>
    <script>
        function addUser(form) {
            var data = $(form).serialize();
            $.post('/login/signup', data, function (d) {
                if (d.success) {
                    $('#status_order_form').attr('class', 'alert alert-success');
                    // $(form).reset();
                    //$('#order-form').remove();
                } else {
                    $('#status_order_form').attr('class', 'alert alert-warning');
                }
                $('#message_order_form').html(d.message);
                $('#status_order_form').show()

                setTimeout(function () {
                    $('#status_order_form').hide()
                }, 3000);
            });
            return false;
        }
    </script>
    <?php

}
?><?php
?>