<section>
		<div class="container">
			<div class="row">
			<div class="col-sm-4">
			</div>
				<div class="col-sm-4">
				<div class="shopper-info">
							<p>Додати товар</p>
							<form action="" method="POST" enctype="multipart/form-data">
								<input name="name" type="text" placeholder="Назва товару" maxlength="128" required>
								<textarea name="description" placeholder="Короткий опис" rows="5" maxlength="1024" required></textarea>
								<input name="price" type="text" placeholder="Ціна" maxlength="10" required>
								<input type="file" name="photos" multiple/>

								<select name="category_id">
								<option value=""></option>
								</select>
								<br><br>

								<input name="brand_id" type="text" placeholder="Бренд" maxlength="128" required list="brand_list">
								<datalist id="brand_list">
									<option>Бавария</option>
									<option>Бенфика</option>
									<option>Боруссия</option>
									<option>Брюгге</option>
									<!-- и т.д. -->
								</datalist>

								<input type="submit" class="btn btn-primary" value="Додати товар">
							</form>
						</div>
				</div>
				<div class="col-sm-4">
			</div>
			</div>
		</div>
	</section>