<section id="slider"><!--slider-->
		<div class="container">
			<section>
		<div class="container">
		<ul class="nav nav-tabs">
			<li><a data-toggle="tab" href="#create_good">Додати товар</a></li>
			<li class="active"><a data-toggle="tab" href="#mygoods" onclick="getContent('mygoods');">Мої товари</a></li>
			<!--li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Історія<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a data-toggle="tab" href="#extradition_hist">Історія видач</a></li>
						<li><a data-toggle="tab" href="#rent_hist">Історія оренди</a></li>
					</ul>
			</li-->
		<li><a data-toggle="tab" href="#orders" onclick="getContent2('ordersforme');">Замовлення</a></li>
		<li><a data-toggle="tab" href="#myorders" onclick="getContent3('myorders');">Мої замовлення</a></li>
		</ul>

		<div class="tab-content">
		
		   <div id="create_good" class="tab-pane fade">

		<div class="container">
			<div class="row">
			<div class="col-sm-4">
			</div>
				<div class="col-sm-4">
				<div class="shopper-info">
							<p>Додати товар</p>
							<form action="/goods/add" method="POST" enctype="multipart/form-data">
								<input name="name" type="text" placeholder="Назва товару" maxlength="128" required>
								<textarea name="description" placeholder="Короткий опис" rows="5" maxlength="1024" required></textarea>
								<input name="price" type="text" placeholder="Ціна (в гривнях)" maxlength="10" required>
								<input type="file" name="photos" multiple accept="image/*" required/>

								<select name="category_id">
									<?php foreach ($categories as $cat) {
										print '<option value="'.$cat->category_id.'">'.$cat->name.'</option>';
									}?>
								</select>
								<br><br>

								<input name="brand_id" type="text" placeholder="Бренд" maxlength="128" required list="brand_list">
								<datalist id="brand_list">
									<?php foreach ($brands as $brand) {
										print '<option>'.$brand->brand.'</option>';
									}?>

									<!-- и т.д. -->
								</datalist>

								<input type="submit" class="btn btn-primary" value="Додати товар">
							</form>
						</div>
				</div>
			
			</div>
		</div>

		  </div>
		
		  <div id="mygoods" class="tab-pane fade in active">
		  
			<h3>Список моїх товарів</h3>
			
			<div class="input-group"> <span class="input-group-addon">Пошук</span>
				<input id="filter" type="text" class="form-control" placeholder="Введіть пошуковий запит...">
			</div>
			
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Назва</th>
					<th>Бренд</th>
					<th>Дата додавання</th>
					<th>Категорія</th>
					<th>Ціна</th>
					<th>Опис</th>
					<th>Редагування</th>
				</tr>
			</thead>
			<tbody id="tb-mygoods" class="searchable">
				<!--- CONTENT-->
			</tbody>
		</table>
		
		  </div>
		  
		  <div id="extradition_hist" class="tab-pane fade">
			<h3>Історія видач</h3>
			
				<div class="input-group"> <span class="input-group-addon">Пошук</span>
					<input id="filter" type="text" class="form-control" placeholder="Введіть пошуковий запит...">
				</div>
				
				<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Дата видачі</th>
						<th>Дата повернення</th>
						<th>Фактична дата повернення</th>
						<th>Орендавець</th>
						<th>Відгуки</th>
					</tr>
				</thead>
				<tbody class="searchable">
					<tr>
						<!--- CONTENT-->
					</tr>
				</tbody>
			</table>
			
		  </div>
		  
		  <div id="rent_hist" class="tab-pane fade">
			<h3>Історія оренди</h3>
			
				<div class="input-group"> <span class="input-group-addon">Пошук</span>
				<input id="filter" type="text" class="form-control" placeholder="Введіть пошуковий запит...">
			</div>
			
			<table class="table table-striped">
			<thead>
				<tr>
				
					<th>Id</th>
					<th>Дата видачі</th>
					<th>Дата повернення</th>
					<th>Фактична дата повернення</th>
					<th>Орендодавець</th>
					<th>Відгуки</th>
				</tr>
			</thead>
			<tbody class="searchable">
				<!--- CONTENT-->
			</tbody>
		</table>
			
		  </div>
		  
		  <div id="orders" class="tab-pane fade" >
			<h3>Замовлення</h3>
			<!--- CONTENT-->
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Назва</th>
					<th>З</th>
					<th>По</th>
					<th>Арендодавець</th>
					<th>Клієнт</th>
					<th>Ціна</th>
					<th>Опис</th>
				</tr>
			</thead>
			<tbody id="tb-mydocs" class="searchable">
				<!--- CONTENT-->
			</tbody>
		</table>
		  </div>
		  
		  <div id="myorders" class="tab-pane fade" >
			<h3>Мої замовлення</h3>
			<!--- CONTENT-->
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Назва</th>
					<th>З</th>
					<th>По</th>
					<th>Клієнт</th>
					<th>Арендодавець</th>
					<th>Ціна</th>
					<th>Опис</th>
				</tr>
			</thead>
			<tbody id="tb-myorders" class="searchable">
				<!--- CONTENT-->
			</tbody>
		</table>
		  </div>
		  
		  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Редагування товару</h4>
      </div>
      <div class="modal-body">
          <div class="row">
		  
		  <div class="col-sm-5">
                        <div class="view-product">
                            <img alt="Product preview">
                        </div>
                       
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">	
										<div class="item active">
										  <img src="/img/good_40/image_1.jpg" alt="photo1">
										  <img src="/img/good_40/image_1.jpg" alt="photo2">
										  <img src="/img/good_40/image_1.jpg" alt="photo2">
										</div>
										
									</div>

            

                    </div>
		  
			<div class="col-sm-7">
				<div class="shopper-info">
						
							<form action="/goods/add" method="POST" enctype="multipart/form-data" id="good-add">
								<input id="form_name" name="name" type="text" placeholder="Назва товару" maxlength="128" required />
								<textarea id="form_description" name="description" placeholder="Короткий опис" rows="5" maxlength="1024" required></textarea>
								<input id="form_price" name="price" type="text" placeholder="Ціна (в гривнях)" maxlength="10" required />
								<input type="file" name="photos" multiple accept="image/*" required />
								<div class = "row">
								
									<div id="img-preview">
								
								</div>
								
								</div>

								<select id="form_category_id" name="category_id">
									<?php foreach ($categories as $cat) {
										print '<option value="'.$cat->category_id.'">'.$cat->name.'</option>';
									}?>
								</select>
								<br>
								<br>
								<input id="form_brand_id" name="brand_id" type="text" placeholder="Бренд" maxlength="128" required list="brand_list" />
								<datalist id="brand_list">
									<?php foreach ($brands as $brand) {
										print '<option>'.$brand->brand.'</option>';
									}?>

							
								</datalist>

								<!--<input type="submit" class="btn btn-primary" value="Завершити редагування">-->
							</form>
				</div>
				</div>
			</div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-success" >Завершити редагування</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
      </div>
    </div>

  </div>
    <script>
        function addOrder(form) {
            var data = $(form).serialize();
            $.post('/goods/order', data, function (d) {
                if (d.success) {
                    $('#status_profile_form').attr('class', 'alert alert-success');
                    $('#profile-form').remove();
                } else {
                    $('#status_profile_form').attr('class', 'alert alert-warning');
                }
                $('#message_profile_form').html(d.message);
                $('#status_profile_form').show()

                setTimeout(function(){$('#status_profile_form').hide()},3000);
            });
            return false;
        }
        </script>
</div>
		  
			<script>
				$(document).ready(function () {
				getContent('mygoods');

				(function ($) {

					$('#filter').keyup(function () {

						var rex = new RegExp($(this).val(), 'i');
						$('.searchable tr').hide();
						$('.searchable tr').filter(function () {
							return rex.test($(this).text());
						}).show();

					})

				}(jQuery));

				});
				
				function getContent(page)
				{
				$.post('catalog/api/','p='+page, function(xml)
					{
				//alert(xml);
				$("#tb-mygoods").empty();
				 $(xml).find("item").each(function () {
				 
				 var arr = {};
				 arr['good_id'] = $(this).find("good_id").text();
				 arr['good_name'] = $(this).find("good_name").text();
				 arr['brand'] = $(this).find("brand").text();
				 arr['date'] = $(this).find("date").text();
				 arr['category_name'] = $(this).find("category_name").text();
				 arr['price'] = $(this).find("price").text();
				 arr['good_description'] = $(this).find("good_description").text();
				 arr['category_id'] = $(this).find("category_id").text();
				 
				 rowTable1(arr);
				});
				
				});
				}
				
				function getContent2(page)
				{
				$.post('catalog/api/','p='+page, function(xml)
					{
						$("#tb-mydocs").empty();
				 $(xml).find("item").each(function () {
				 
				 var arr = {};
				 arr['name'] = $(this).find("name").text();
				 arr['from_date'] = $(this).find("from_date").text();
				 arr['to_date'] = $(this).find("to_date").text();
				 arr['landlord'] = $(this).find("landlord").text();
				 arr['tenant'] = $(this).find("tenant").text();
				 arr['price'] = $(this).find("price").text();
				 arr['description'] = $(this).find("description").text();
				 
				 rowTable2(arr);
				});
				
				
				});
				}
				
				function getContent3(page)
				{
				$.post('catalog/api/','p='+page, function(xml)
					{
				//alert(data);
				//$('.searchable').html(data['goods']);
				$("#tb-myorders").empty();
				$(xml).find("item").each(function () {
				 
				 var arr = {};
				 arr['name'] = $(this).find("name").text();
				 arr['from_date'] = $(this).find("from_date").text();
				 arr['to_date'] = $(this).find("to_date").text();
				 arr['landlord'] = $(this).find("landlord").text();
				 arr['tenant'] = $(this).find("tenant").text();
				 arr['price'] = $(this).find("price").text();
				 arr['description'] = $(this).find("description").text();
				 
				 rowTable3(arr);
				
				});
				});
				}
				
				function rowTable1(arr)
				{
					var btn = "<button type=\"button\" class=\"btn btn-default cart\" data-toggle=\"modal\" data-target=\"#myModal\" data-id=\"{0}\" data-name=\"{1}\" data-brand=\"{2}\" data-date=\"{3}\" data-category_id=\"{7}\" data-price=\"{5}\" data-good_description=\"{6}\" onClick=\"fromButton(this);\">Редагування</button>";
					var rowTemplate = "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td><td>" + btn + "</td></tr>";

					$("#tb-mygoods").append(rowTemplate.format(arr['good_id'],arr['good_name'],arr['brand'],arr['date'],arr['category_name'],arr['price'],arr['good_description'],arr['category_id']));
				}
				
				function rowTable2(arr)
				{
					var rowTemplate = "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td></tr>";

					$("#tb-mydocs").append(rowTemplate.format(arr['name'],arr['from_date'],arr['to_date'],arr['landlord'],arr['tenant'],arr['price'],arr['description']));
				}
				function rowTable3(arr)
				{
					var rowTemplate = "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td></tr>";

					$("#tb-myorders").append(rowTemplate.format(arr['name'],arr['from_date'],arr['to_date'],arr['landlord'],arr['tenant'],arr['price'],arr['description']));
				}
				
				function fromButton(obj) 
				{
					var data = $(obj).data();
					$('#form_name').val(data['name']);
					$('#form_description').val(data['good_description']);
					$('#form_price').val(data['price']);
					$('#form_category_id').val(data['category_id']);
					$('#form_brand_id').val(data['brand']);					
				}
				
				
				
				$(function () {
    $(":file").change(function () {
	$('#img-preview').html('');
        if (this.files ) {
           
			var arr = this.files;
			console.log(arr);
			for (var i=0; i<arr.length; i++)
			{
				var reader = new FileReader();
				reader.onload = imageIsLoaded;
				reader.readAsDataURL(arr[i]);
			}
        }
    });
});

function imageIsLoaded(e) {
  var $item = $("<div>").attr({class    :	'col-sm-2'});
  $item.append($("<img>").attr({src    : e.target.result,
											  height : '60px',
											  width  : '60px'
											}));
    $('#img-preview').append($item);
};

			</script>
		  
		</div>

		</div>
	</section>
		</div>
	</section><!--/slider-->
	
	<script>
	String.prototype.format = function() {
  var str = this;
  for (var i = 0; i < arguments.length; i++) {       
    var reg = new RegExp("\\{" + i + "\\}", "gm");             
    str = str.replace(reg, arguments[i]);
  }
  return str;
}
	</script>
